<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        margin: 10px;
        text-decoration: none;
        color: white;
        background-color: #007BFF;
        border-radius: 5px;
    }
</style>
<body>
    hpjoafhakjh

    <a  class="button"href="{% url 'dealer_register' %}">dealer_register</a>
    <a class="button" href="{% url 'customer_register' %}">dealer_register</a>
</body>
</html>