<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h2>My Bookings</h2>
<table border="1" cellpadding="10">
  <tr>
    <th>Hotel</th>
    <th>Room</th>
    <th>Check-in</th>
    <th>Check-out</th>
  </tr>
  {% for booking in bookings %}
  <tr>
    <td>{{ booking.hotel_room.hotel.name }}</td>
    <td>{{ booking.hotel_room.room_number }}</td>
    <td>{{ booking.check_in }}</td>
    <td>{{ booking.check_out }}</td>
  </tr>
  {% empty %}
  <tr><td colspan="4">No bookings yet.</td></tr>
  {% endfor %}
</table>
 
</body>
</html>